<div class="row your-page">
    <div class="col-md-2">
        <div class="navigation">
            <div class="nav"><a routerLink="user-profile">USER PROFILE</a></div>
            <div class="nav"><a routerLink="change-password">CHANGE PASSWORD</a></div>
            <div class="nav"><a routerLink="exercise">EXERCISES</a></div>
            <div class="nav"><a routerLink="bookmark">BOOKMARK</a></div>
            <div class="nav"><a routerLink="notification">NOTIFICATION</a></div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="tab-pane">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>