<div class="row your-page">
    <div class="col-md-3">
        <div class="navigation">
            <div class="nav"><a href="#update-profile" data-toggle="tab">UPDATE PROFILE</a></div>
            <div class="nav"><a href="#change-password" data-toggle="tab">CHANGE PASSWORD</a></div>
            <div class="nav"><a href="#exicise" data-toggle="tab">EXICISES</a></div>
            <div class="nav"><a href="#bookmark" data-toggle="tab">BOOKMARK</a></div>
            <div class="nav"><a href="#notification" data-toggle="tab">NOTIFICATION</a></div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="tab-content">
            <div class="tab-pane active" id="update-profile">UPDATE PROFILE</div>
            <div class="tab-pane" id="change-password">CHANGE PASSWORD</div>
            <div class="tab-pane" id="exicise">EXICISES</div>
            <div class="tab-pane" id="bookmark">BOOKMARK</div>
            <div class="tab-pane" id="notification">NOTIFICATION</div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>