<h3><b>The Most Wanted Tutors</b></h3>
<div class="teachers">
    <div class="row">
        <div class="col-md-3">
            <a href="#">
                <div class="teacher">
                    <img src="../../../../assets/images/teacher1.jpg">
                    <div class="title"><b>Petter</b> - <i>Java</i></div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="teacher">
                    <img src="../../../../assets/images/teacher2.jpg">
                    <div class="title"><b>Corbin</b> - <i>Angular</i></div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="teacher">
                    <img src="../../../../assets/images/teacher3.jpg">
                    <div class="title"><b>Mark</b> - <i>Database</i></div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="teacher">
                    <img src="../../../../assets/images/teacher4.jpg">
                    <div class="title"><b>Mike</b> - <i>.Net</i></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div id="contact-me" class="row contact-me">
    <div class="col-md-7 description">
        <b class="description-1">Like What You're Learning</b><br>
        <b class="description-2">Get Started</b><br>
        <b class="description-2">TODAY!</b><br>
        <i>Work at home or in the office, lead one project or become a freelancer, write code in the morning or late at night <br> You decide only.</i>
    </div>
    <div class="col-md-5 description">
        <input type="text" placeholder="Your name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Message"><br>
        <button class="btn btn-info">REGISTER COURSE</button>
    </div>
</div>