<h3><b>The Most Wanted Tutors</b></h3>
<div class="teachers">
    <div class="row">
        <div class="col-md-3">
            <a href="#">
                <div class="teacher">
                    <img src="../../../../assets/images/teacher1.jpg">
                    <div class="title"><b>Petter</b> - <i>Java</i></div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="teacher">
                    <img src="../../../../assets/images/teacher2.jpg">
                    <div class="title"><b>Corbin</b> - <i>Angular</i></div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="teacher">
                    <img src="../../../../assets/images/teacher3.jpg">
                    <div class="title"><b>Mark</b> - <i>Database</i></div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="teacher">
                    <img src="../../../../assets/images/teacher4.jpg">
                    <div class="title"><b>Mike</b> - <i>.Net</i></div>
                </div>
            </a>
        </div>
    </div>
</div>