<div class="row user-profile">
    <div class="col-md-4">
        <div><img src="../../../../assets/images/1.jpg"></div>
        <div class="file-input">
            <input type="file" id="file" class="file">
            <label for="file">Select file<p class="file-name"></p></label>
        </div>
    </div>
    <div class="col-md-8 info">
        <div>
            <input type="text" value="nhutnguyen@gmail.com" disabled>
        </div>
        <div>
            <input type="text" value="Memember for 6 years" disabled>
        </div>
        <div>
            <input type="text" placeholder="Full name" value="NHUT NGUYEN">
        </div>
        <div>
            <input type="text" placeholder="Date of birth" value="14-04-1990">
        </div>
        <div class="drop-down">
            <select>
                <option value="tutor">Vistor</option>
                <option value="student">Student</option>
                <option value="tutor">Tutor</option>
            </select>
        </div>
        <div class="row">
            <div class="col-sl-1"><span class="tag1"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> * 200</span></div>
            <div class="col-sl-1"><span class="tag1"><i class="fa fa-file-text-o" aria-hidden="true"></i> * 10</span></div>
            <div class="col-sl-1"><span class="tag1"><i class="fa fa-level-up" aria-hidden="true"></i> * Tutor</span></div>
        </div>
        <div class="row subjects">
            <div class="col-sl-1"><span class="tag2"><i class="fa fa-tags" aria-hidden="true"></i> Java</span></div>
            <div class="col-sl-1"><span class="tag2"><i class="fa fa-tags" aria-hidden="true"></i> Database</span></div>
            <div class="col-sl-1"><span class="tag2"><i class="fa fa-tags" aria-hidden="true"></i> Angular</span></div>
            <div class="col-sl-1"><span class="tag2"><i class="fa fa-tags" aria-hidden="true"></i> Docker</span></div>
            <div class="col-sl-1"><span class="tag2"><i class="fa fa-tags" aria-hidden="true"></i> CD, CI</span></div>
        </div>
        <br>
        <div class="btn-save"><button class="btn-custom">SAVE</button></div>
    </div>
</div>