<div class="sharing">
    <div class="post">
        <div class="row title">
            <div class="col-md-1"><img src="../../../../assets/images/1.jpg"></div>
            <div class="col-md-11">
                <h5>Iron Man</h5>
                <i>Created: 14.04.2020</i>
            </div>
        </div>
        <div class="post-content">
            <p>MINNEAPOLIS — The police officer had seen hundreds of crime scenes.</p>
            <div class="row post-content-multiple-images">
                <div class="col-md-6">
                    <div class="big-image"><img src="../../../assets/images/1.jpg"></div>
                </div>
                <div class="col-md-6">
                    <div class="small-image"><img src="../../../assets/images/2.jpg"></div>
                    <div class="small-image"><img src="../../../assets/images/4.jpg"></div>
                </div>
            </div>
        </div>
        <div class="post-comments">
            <div class="like"><i class="fa fa-gratipay" aria-hidden="true"></i> 20</div>
            <div><input type="text" placeholder="Type your comment..."></div>
            <div class="row actions">
                <div class="col-md-1"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
                <div class="col-md-1"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                <div class="col-md-1"><i class="fa fa-tags" aria-hidden="true"></i></div>
                <div class="col-md-1"><i class="fa fa-bookmark-o" aria-hidden="true"></i></div>
            </div>
            <div><button class="btn-custom">POST</button></div>
            <div class="comment-contents">
                <div class="row comment-content">
                    <div class="col-md-1"><img src="../../../../assets/images/1.jpg"></div>
                    <div class="col-md-11">
                        <div>
                            <h4>Marry</h4>
                        </div>
                        <div class="description">
                            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Leverage agile frameworks to provide a robust synopsis
                            for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        </div>
                    </div>
                </div>
                <div class="row comment-content">
                    <div class="col-md-1"><img src="../../../../assets/images/1.jpg"></div>
                    <div class="col-md-11">
                        <div>
                            <h4>Marry</h4>
                        </div>
                        <div class="description">
                            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Leverage agile frameworks to provide a robust synopsis
                            for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="row title">
            <div class="col-md-1"><img src="../../../../assets/images/1.jpg"></div>
            <div class="col-md-11">
                <h5>Iron Man</h5>
                <i>Created: 14.04.2020</i>
            </div>
        </div>
        <div class="post-content">
            <p>MINNEAPOLIS — The police officer had seen hundreds of crime scenes.</p>
            <div class="row post-content-two-images">
                <div class="col-md-6"><img src="../../../assets/images/1.jpg"></div>
                <div class="col-md-6"><img src="../../../assets/images/2.jpg"></div>
            </div>
        </div>
        <div class="post-comments">
            <div class="like"><i class="fa fa-gratipay" aria-hidden="true"></i> 20</div>
            <div><input type="text" placeholder="Type your comment..."></div>
            <div class="row actions">
                <div class="col-md-1"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
                <div class="col-md-1"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                <div class="col-md-1"><i class="fa fa-tags" aria-hidden="true"></i></div>
                <div class="col-md-1"><i class="fa fa-bookmark-o" aria-hidden="true"></i></div>
            </div>
            <div><button class="btn-custom">POST</button></div>
            <div class="comment-contents">
                <div class="row comment-content">
                    <div class="col-md-1"><img src="../../../../assets/images/1.jpg"></div>
                    <div class="col-md-11">
                        <div>
                            <h4>Marry</h4>
                        </div>
                        <div class="description">
                            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Leverage agile frameworks to provide a robust synopsis
                            for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        </div>
                    </div>
                </div>
                <div class="row comment-content">
                    <div class="col-md-1"><img src="../../../../assets/images/1.jpg"></div>
                    <div class="col-md-11">
                        <div>
                            <h4>Marry</h4>
                        </div>
                        <div class="description">
                            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Leverage agile frameworks to provide a robust synopsis
                            for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="post">
        <div class="row title">
            <div class="col-md-1"><img src="../../../../assets/images/1.jpg"></div>
            <div class="col-md-11">
                <h5>Iron Man</h5>
                <i>Created: 14.04.2020</i>
            </div>
        </div>
        <div class="post-content">
            <p>MINNEAPOLIS — The police officer had seen hundreds of crime scenes.</p>
            <div class="post-content-single-image">
                <img src="../../../assets/images/1.jpg">
            </div>
        </div>
        <div class="post-comments">
            <div class="like"><i class="fa fa-gratipay" aria-hidden="true"></i> 20</div>
            <div><input type="text" placeholder="Type your comment..."></div>
            <div class="row actions">
                <div class="col-md-1"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
                <div class="col-md-1"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                <div class="col-md-1"><i class="fa fa-tags" aria-hidden="true"></i></div>
                <div class="col-md-1"><i class="fa fa-bookmark-o" aria-hidden="true"></i></div>
            </div>
            <div><button class="btn-custom">POST</button></div>
            <div class="comment-contents">
                <div class="row comment-content">
                    <div class="col-md-1"><img src="../../../../assets/images/1.jpg"></div>
                    <div class="col-md-11">
                        <div>
                            <h4>Marry</h4>
                        </div>
                        <div class="description">
                            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Leverage agile frameworks to provide a robust synopsis
                            for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        </div>
                    </div>
                </div>
                <div class="row comment-content">
                    <div class="col-md-1"><img src="../../../../assets/images/1.jpg"></div>
                    <div class="col-md-11">
                        <div>
                            <h4>Marry</h4>
                        </div>
                        <div class="description">
                            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Leverage agile frameworks to provide a robust synopsis
                            for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="row title">
            <div class="col-md-1"><img src="../../../../assets/images/1.jpg"></div>
            <div class="col-md-11">
                <h5>Iron Man</h5>
                <i>Created: 14.04.2020</i>
            </div>
        </div>
        <div class="post-content">
            <p>
                MINNEAPOLIS — The police officer had seen hundreds of crime scenes, interviewed scores of witnesses and made his share of arrests over more than 35 years working cases in Minneapolis. But when Lt. Richard Zimmerman watched a video of one of his colleagues
                kneeling on George Floyd’s neck, he saw what he described in a courtroom on Friday as a “totally unnecessary” violation of department policy. “Pulling him down to the ground facedown and putting your knee on a neck for that amount of time,
                it’s just uncalled-for,” testified Lieutenant Zimmerman, who is the longest-serving officer on the Minneapolis police force. His comments came at the end of the first week in the trial of Derek Chauvin, the former police officer charged
                with murdering Mr. Floyd along a Minneapolis street last May.
            </p>
        </div>
        <div class="post-comments">
            <div class="like"><i class="fa fa-gratipay" aria-hidden="true"></i> 20</div>
            <div><input type="text" placeholder="Type your comment..."></div>
            <div class="row actions">
                <div class="col-md-1"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
                <div class="col-md-1"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                <div class="col-md-1"><i class="fa fa-tags" aria-hidden="true"></i></div>
                <div class="col-md-1"><i class="fa fa-bookmark-o" aria-hidden="true"></i></div>
            </div>
            <div><button class="btn-custom">POST</button></div>
            <div class="comment-contents">
                <div class="row comment-content">
                    <div class="col-md-1"><img src="../../../../assets/images/1.jpg"></div>
                    <div class="col-md-11">
                        <div>
                            <h4>Marry</h4>
                        </div>
                        <div class="description">
                            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Leverage agile frameworks to provide a robust synopsis
                            for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        </div>
                    </div>
                </div>
                <div class="row comment-content">
                    <div class="col-md-1"><img src="../../../../assets/images/1.jpg"></div>
                    <div class="col-md-11">
                        <div>
                            <h4>Marry</h4>
                        </div>
                        <div class="description">
                            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Leverage agile frameworks to provide a robust synopsis
                            for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>