<h3><b>We Provide The Courses</b></h3>
<div class="courses">
    <ul>
        <li>
            <div class="course">
                <div class="row">
                    <div class="col-md-3"><img src="../../../assets/images/gitter-icon.png"></div>
                    <div class="col-md-9 title"><a href="/course/1"><b>Java Core</b></a></div>
                </div>
                <div class="description"><i>Try a holistic approach to learning in which you study the theory and immediately put it into practice by building working applications.</i></div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 lesson">
                        <b>20</b>
                        <br>
                        <i>Lessons</i>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="course">
                <div class="row">
                    <div class="col-md-3"><img src="../../../assets/images/latexila-icon.png"></div>
                    <div class="col-md-9 title"><a href="#"><b>Spring MVC</b></a></div>
                </div>
                <div class="description"><i>Try a holistic approach to learning in which you study the theory and immediately put it into practice by building working applications.</i></div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 lesson">
                        <b>20</b>
                        <br>
                        <i>Lessons</i>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="course">
                <div class="row">
                    <div class="col-md-3"><img src="../../../assets/images/miscellaneous-icon.png"></div>
                    <div class="col-md-9 title"><a href="#"><b>Spring Boost</b></a></div>
                </div>
                <div class="description"><i>Try a holistic approach to learning in which you study the theory and immediately put it into practice by building working applications.</i></div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 lesson">
                        <b>20</b>
                        <br>
                        <i>Lessons</i>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="course">
                <div class="row">
                    <div class="col-md-3"><img src="../../../assets/images/netbeans-icon.png"></div>
                    <div class="col-md-9 title"><a href="#"><b>Spring Security</b></a></div>
                </div>
                <div class="description"><i>Try a holistic approach to learning in which you study the theory and immediately put it into practice by building working applications.</i></div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 lesson">
                        <b>20</b>
                        <br>
                        <i>Lessons</i>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="course">
                <div class="row">
                    <div class="col-md-3"><img src="../../../assets/images/asc-de-icon.png"></div>
                    <div class="col-md-9 title"><a href="#"><b>ORM - Hibernate</b></a></div>
                </div>
                <div class="description"><i>Try a holistic approach to learning in which you study the theory and immediately put it into practice by building working applications.</i></div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 lesson">
                        <b>20</b>
                        <br>
                        <i>Lessons</i>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="course">
                <div class="row">
                    <div class="col-md-3"><img src="../../../assets/images/pdfchain-icon.png"></div>
                    <div class="col-md-9 title"><a href="#"><b>NoSQL - Mongo</b></a></div>
                </div>
                <div class="description"><i>Try a holistic approach to learning in which you study the theory and immediately put it into practice by building working applications.</i></div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 lesson">
                        <b>20</b>
                        <br>
                        <i>Lessons</i>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="course">
                <div class="row">
                    <div class="col-md-3"><img src="../../../assets/images/regextester-icon.png"></div>
                    <div class="col-md-9 title"><a href="#"><b>HTML - CSS</b></a></div>
                </div>
                <div class="description"><i>Try a holistic approach to learning in which you study the theory and immediately put it into practice by building working applications.</i></div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 lesson">
                        <b>20</b>
                        <br>
                        <i>Lessons</i>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="course">
                <div class="row">
                    <div class="col-md-3"><img src="../../../assets/images/vmware-workstation-icon.png"></div>
                    <div class="col-md-9 title"><a href="#"><b>Angular</b></a></div>
                </div>
                <div class="description"><i>Try a holistic approach to learning in which you study the theory and immediately put it into practice by building working applications.</i></div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 lesson">
                        <b>20</b>
                        <br>
                        <i>Lessons</i>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="course">
                <div class="row">
                    <div class="col-md-3"><img src="../../../assets/images/xneur-icon.png"></div>
                    <div class="col-md-9 title"><a href="#"><b>DBMS - PostgreSQL</b></a></div>
                </div>
                <div class="description"><i>Try a holistic approach to learning in which you study the theory and immediately put it into practice by building working applications.</i></div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 lesson">
                        <b>20</b>
                        <br>
                        <i>Lessons</i>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>