.user-change-password input {
    width: 50%;
    height: 45px;
    border: none;
    border-bottom: 1px solid #cccccc;
    outline: none;
    padding-left: 20px;
    color: #666666;
    margin-bottom: 30px;
}