<div class="header">
    <div class="logo">
        <div class="logo-center">
            <div class="row">
                <div class="col-md-3"><img src="../assets/images/parrot.png"></div>
                <div class="col-md-9"><b>Code Tutor</b></div>
            </div>
        </div>
    </div>
    <div class="navigation">
        <ul>
            <li><a routerLink="/home"><b>Home</b></a></li>
            <li><a routerLink="#"><b>Courses</b></a></li>
            <li><a routerLink="/sharing"><b>Sharing</b></a></li>
            <li><a routerLink="/recruitment"><b>Recruitment</b></a></li>
            <li><a routerLink="/document"><b>Document</b></a></li>
            <li class="login-section"><a routerLink="/authenticate"><b>Login</b></a></li>
            <li><a routerLink="/register"><b>Register</b></a></li>
        </ul>
    </div>
    <div class="contact-me">
        <div class="caption"><b>Getting Programming <br> Became <i>Easier</i> </b></div>
        <div class="description">Learning to write programs stretches your mind, and helps you think better. <br> Creates a way of thinking about things that I think is helpful in all domains.</div>
        <button class="btn-custom">CONTACT ME</button>
    </div>
</div>
<router-outlet></router-outlet>
<div class="footer">
    <div class="row">
        <div class="col-md-7">The map will be show here soon...</div>
        <div class="col-md-5">
            <div class="images">
                <ul>
                    <li><img src="../../../assets/images/1.jpg"></li>
                    <li><img src="../../../assets/images/2.jpg"></li>
                    <li><img src="../../../assets/images/4.jpg"></li>
                </ul>
            </div>
            <div class="contact-method">
                <ul>
                    <li>
                        <div class="circle"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    </li>
                    <li>
                        <div class="circle"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </li>
                    <li>
                        <div class="circle"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                    </li>
                </ul>
            </div>
            <div class="address">Số 2, Nguyễn Thế Lộc, Phường 15, Tân Bình, Hồ Chí Minh</div>
        </div>
    </div>
</div>